--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.111.0
uvicorn==0.30.1
rembg==2.0.57
pillow==10.3.0
python-multipart==0.0.9
psycopg2-binary==2.9.9
bcrypt==4.1.3
pyjwt==2.8.0
requests==2.32.3
slowapi==0.1.9
pydantic==2.7.4
email-validator
torch
transformers
